body{
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: rgba(232, 231, 231, 0.62);
}

.single-frame{
  flex:1;
}

.invisible{
  display: none;
}

.button{
  width: 2%;
  font-size: 1 vh;
  background-color: rgba(232, 231, 231, 0.62);
  border-style: solid;
  border-color: #b3b3b3;
  margin: 0.5vh;
  border-radius: 3vh;
}

.text-button{

}