body{
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.quart{
  height: 100%;
  width: 25%;
}

.forty {
  height: 100%;
  width: 40%;
}

.left{;
  order:-10;
}

.left-center{
  order:-5;
}

.rigth-center{
  order: 5;
}

.right{
  order: 10;
}
.full-size{
  height: 100%;
  width: 100%;
  background-color:blue;
}

.right-invisible{

}

.left-invisible{
    width: 0%;
}

#mainCointainer {
  width: 100%;
  height: 95%;
}

#mainButtons {
  width: 100%;
  height: 5%;
}

.full-size{
  width: 100%;
  height: 100%;
}

.flex-container{
  flex-wrap: wrap;
  display: flex ;
}

.flex-item{
  text-align: center;
  display: flex;
  flex: 1;
}

.flex-item-double {
  text-align: center;
  display: flex;
  flex: 2;
}

.flex-horizontal{
  display: flex;
  flex:1;
  flex-direction : row;
  flex-wrap: wrap;
  align-items: center;
}

.flex-vertical{
  flex-basis:0;
  flex:1;
  display: flex;
  flex-direction : column;
}

.initial-slot-normal {
  font-size: 2vh;
  min-width: 33%;
  min-height: 33%;
  flex:1;
  display: flex;
  flex-direction : column;
}

.initial-slot-zoom {
  font-size: 1vh;
  flex:1;
  display: flex;
  flex-direction : column;
}

.initial-selection-tab {
  display: flex;
  flex:1;
  flex-direction : row;
  flex-wrap:nowrap;
}

.initial-zoom-tab{
  display: flex;
  flex : 9;
  flex-direction: column;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.graph-title{
  flex:1;
}

.div-graph {
  flex:10;
  display: flex;
  margin:1vh;
}
.invisible{
  display: none;
}

.main-buttons {
  text-align: center;
  flex: 1;
  border-style:ridge;
  border-color:#bbb #888 #666 #aaa;
  border-width: 2px 2px 2px 2px;
}