.text {
	font-family: helvetica;
	fill: white;
	color: white;
}

.community_area_text {
	font-family: helvetica;
	fill: blue;
	color: blue;
}

.station-info h3 {
	border-bottom: 1px solid #D3D3D3;
	margin: 5px 0 10px;
	padding-bottom: 5px;
	color: #404040;
	font-size: 3vh;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
}

.popup-text {
	font-size: 1.5vh;
}

.popup-text-big {
	font-size: 2vh;
}